In [1]:
import os
import geopandas as gpd
import pandas as pd
import numpy as np
import math

In [2]:
# Read the CSV file without header and set the first column as index
slc = pd.read_csv('../geospacial/slc/sorted_final_slc.csv')

In [3]:
slc

,Unnamed: 0,0101,0102,0103,0104,0106,0109,0201,0202,0203,...,2112,2113,2116,2210,2212,2213,2214,2216,2310,2313
0,113656,0.0,0.0,0.000820,0.000205,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1,113683,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000243,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2,113696,0.0,0.0,0.001992,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3,113703,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
4,113680,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,113533,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.003769,0.007538,0.000000,0.000000,0.008794,0.015075,0.0,0.0,0.000000,0.000000
469,113523,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.004098,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
470,113494,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.034358,0.000000,0.027125,0.0,0.0,0.009042,0.001808
471,113582,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.008130,0.000000,0.000813,0.000000,0.002439,0.000000,0.0,0.0,0.000000,0.000000
472,113492,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.002079,0.0,0.0,0.000000,0.004158

In [4]:
# Dropping the first column containing subbasin ID
slc = slc.drop(slc.columns[0], axis=1)

In [5]:
slc

,0101,0102,0103,0104,0106,0109,0201,0202,0203,0204,...,2112,2113,2116,2210,2212,2213,2214,2216,2310,2313
0,0.0,0.0,0.000820,0.000205,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
1,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000243,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
2,0.0,0.0,0.001992,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
3,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
4,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.003769,0.007538,0.000000,0.000000,0.008794,0.015075,0.0,0.0,0.000000,0.000000
469,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.004098,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
470,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.034358,0.000000,0.027125,0.0,0.0,0.009042,0.001808
471,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.008130,0.000000,0.000813,0.000000,0.002439,0.000000,0.0,0.0,0.000000,0.000000
472,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.002079,0.0,0.0,0.000000,0.004158

In [6]:
# Create a new dataframe with three columns for SLC number, landuse number and soil type
slc_data = pd.DataFrame(columns=['SLC', 'LuLc', 'Soil Type'])

In [7]:
# Determine the number of columns in the removed_slc dataframe
num_columns = slc.shape[1]

In [8]:
# Add numbers 1-num_columns in slc_data so each slc has a number
slc_data['SLC'] = range(1, num_columns+1)  # Numbers from 1 to the number of columns in df

In [9]:
# Populate the other two columns by removing the first 2 digits and second 2 digits 
# while adding a leading 0 to 3 digit numbers
slc_data['LuLc'] = [int(str(x).zfill(4)[:2]) for x in slc]
slc_data['Soil Type'] = [int(str(x).zfill(4)[2:]) for x in slc]

In [10]:
slc_data

     SLC  LuLc  Soil Type
0      1     1          1
1      2     1          2
2      3     1          3
3      4     1          4
4      5     1          6
..   ...   ...        ...
112  113    22         13
113  114    22         14
114  115    22         16
115  116    23         10
116  117    23         13

[117 rows x 3 columns]

In [11]:
# Numbers to fill the columns with
fill_numbers = [0, 0, 0, 1, 0, 0, 2.296, 3, 0.091, 0.493, 2.296]

In [12]:
# Create a dictionary with column names and fill numbers
extra_data = {'Main crop cropid': [fill_numbers[0]] * num_columns,
        'Second crop cropid': [fill_numbers[1]] * num_columns,
        'Crop rotation group': [fill_numbers[2]] * num_columns,
        'Vegetation type': [fill_numbers[3]] * num_columns,
        'Special class code': [fill_numbers[4]] * num_columns,
        'Tile depth': [fill_numbers[5]] * num_columns,
        'Stream depth': [fill_numbers[6]] * num_columns,
        'Number of soil layers': [fill_numbers[7]] * num_columns,
        'Soil layer depth 1': [fill_numbers[8]] * num_columns,
        'Soil layer depth 2': [fill_numbers[9]] * num_columns,
        'Soil layer depth 3': [fill_numbers[10]] * num_columns}

In [13]:
# Create the DataFrame
full_data = pd.DataFrame(extra_data)

In [14]:
full_data

,Main crop cropid,Second crop cropid,Crop rotation group,Vegetation type,Special class code,Tile depth,Stream depth,Number of soil layers,Soil layer depth 1,Soil layer depth 2,Soil layer depth 3
0,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
1,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
2,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
3,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
4,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
...,...,...,...,...,...,...,...,...,...,...,...
112,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
113,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
114,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
115,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
116,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296

In [15]:
# Merge the two DataFrames
final_geoclass = pd.merge(slc_data, full_data, left_index=True, right_index=True)

In [16]:
final_geoclass

,SLC,LuLc,Soil Type,Main crop cropid,Second crop cropid,Crop rotation group,Vegetation type,Special class code,Tile depth,Stream depth,Number of soil layers,Soil layer depth 1,Soil layer depth 2,Soil layer depth 3
0,1,1,1,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
1,2,1,2,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
2,3,1,3,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
3,4,1,4,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
4,5,1,6,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,113,22,13,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
113,114,22,14,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
114,115,22,16,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
115,116,23,10,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296
116,117,23,13,0,0,0,1,0,0,2.296,3,0.091,0.493,2.296

In [17]:
# add special class and vegetation to ilake slcs: Lu 18, St 00 adjusted
# mask = ((final_geoclass['LuLc'] == 18) | (final_geoclass['LuLc'] == 18 + 19)) & ((final_geoclass['Soil Type'] == 1) | (final_geoclass['Soil Type'] == 1 + 13))
mask = ((final_geoclass['LuLc'] == 12)) & ((final_geoclass['Soil Type'] == 1))
final_geoclass.loc[mask, 'Special class code'] = 2
final_geoclass.loc[mask, 'Vegetation type'] = 3

Checks

In [18]:
# Assuming df is your DataFrame
final_geoclass['LuLc'].max()

23

In [19]:
# Assuming df is your DataFrame
final_geoclass['Soil Type'].max()

17

In [20]:
final_geoclass['LuLc'].nunique()

23

In [21]:
final_geoclass['Soil Type'].nunique()

17

In [22]:
unique_values_sorted = sorted(final_geoclass['Soil Type'].unique())
print(unique_values_sorted)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [23]:
# Output merged DataFrame to a .txt file
output_file = '../model/GeoClass.txt'

In [24]:
# Add commented lines
commented_lines = [
"""! Landsat NALCMS land cover  
! 1	Temperate or sub-polar needleleaf forest	RGB (0, 61, 0)
! 2	Sub-polar taiga needleleaf forest	RGB (148, 156, 112)
! 3	Tropical or sub-tropical broadleaf evergreen forest	RGB (0, 99, 0)
! 4	Tropical or sub-tropical broadleaf deciduous forest	RGB (30, 171, 5)
! 5	Temperate or sub-polar broadleaf deciduous forest	RGB (20, 140, 61)
! 6	Mixed forest	RGB (92, 117, 43)
! 7	Tropical or sub-tropical shrubland	RGB (179, 158, 43)
! 8	Temperate or sub-polar shrubland	RGB (179, 138, 51)
! 9	Tropical or sub-tropical grassland	RGB (232, 220, 94)
! 10	Temperate or sub-polar grassland	RGB (225, 207, 138)
! 11	Sub-polar or polar shrubland-lichen-moss	RGB (156, 117, 84)
! 12	Sub-polar or polar grassland-lichen-moss	RGB (186, 212, 143)
! 13	Sub-polar or polar barren-lichen-moss	RGB (64, 138, 112)
! 14	Wetland	RGB (107, 163, 138)
! 15	Cropland	RGB (230, 174, 102)
! 16	Barren lands	RGB (168, 171, 174)
! 17	Urban	RGB (220, 33, 38)
! 18	Water	RGB (76, 112, 163)
! 19	Snow and ice	RGB (255, 250, 255)
! =====================================
! Adjusted Land Classes: 
! Milk River:
! 1	Temperate or sub-polar needleleaf forest	RGB (0, 61, 0)
! 2	Temperate or sub-polar broadleaf deciduous forest	RGB (20, 140, 61)
! 3	Mixed forest	RGB (92, 117, 43)
! 4	Temperate or sub-polar shrubland	RGB (179, 138, 51)
! 5	Temperate or sub-polar grassland	RGB (225, 207, 138)
! 6	Sub-polar or polar shrubland-lichen-moss	RGB (156, 117, 84)
! 7	Sub-polar or polar grassland-lichen-moss	RGB (186, 212, 143)
! 8	Wetland	RGB (107, 163, 138)
! 9	Cropland	RGB (230, 174, 102)
! 10	Barren lands	RGB (168, 171, 174)
! 11	Urban	RGB (220, 33, 38)
! 12	Water	RGB (76, 112, 163)
! St. Mary: 
! 13	Temperate or sub-polar needleleaf forest	RGB (0, 61, 0)
! 14	Temperate or sub-polar broadleaf deciduous forest	RGB (20, 140, 61)
! 15	Mixed forest	RGB (92, 117, 43)
! 16	Temperate or sub-polar shrubland	RGB (179, 138, 51)
! 17	Temperate or sub-polar grassland	RGB (225, 207, 138)
! 18	Wetland	RGB (107, 163, 138)
! 19	Cropland	RGB (230, 174, 102)
! 20	Barren lands	RGB (168, 171, 174)
! 21	Urban	RGB (220, 33, 38)
! 22	Water	RGB (76, 112, 163)
! 23	Snow and ice	RGB (255, 250, 255)
!													
! ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------													
!	SoilGrid V1												
!		original legend (raster_value)	description										
!	1	No Data		
!	 C 	2	 clay										
!	 SIC 	3	 silty clay										
!	 SC 	4	 sandy clay										
!	 CL 	5	 clay loam										
!	 SICL 	6	 silty clay loam										
!	 SCL 	7	 sandy clay loam										
!	 L 	8	 loam										
!	 SIL 	9	 silty loam										
!	 SL 	10	 sandy loam										
!	 SI 	11	 silt										
!	 LS 	12	 loamy sand										
!	 S 	13	  sand										
! ======================
! Adjusted Soil Types: 
! Milk River:
!	1	No Data		
!	 2	 clay										
!	 3	 silty clay										
!	 4	 sandy clay										
!	 5	 loam										
!	 6	 silty loam										
!	 7	 silt										
!	 8	 loamy sand										
!	 9	 sand										
! St Mary:
! 	10	No Data		
!	 11	 clay										
!	 12	 silty clay										
!	 13	 sandy clay										
!	14	 silty loam	
!	15	 silt
!	16	 loamy sand
!	17	  sand	
! ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------	
!          SLC	LULC	SOIL TYPE	Main crop cropid	Second crop cropid	Crop rotation group	Vegetation type	Special class code	Tile depth	Stream depth	Number of soil layers	Soil layer depth 1	Soil layer depth 2	Soil layer depth 3"""
]

In [25]:
# Open the file in write mode
with open(output_file, 'w') as file:
    # Write the commented lines
    for line in commented_lines:
        file.write(line + '\n')

In [26]:
with open(output_file, 'a') as file:
        final_geoclass.to_csv(file, sep='\t', index=False, header=False, line_terminator='\n')